[submodule "tommyds"]
	path = tommyds
	url = https://github.com/jmesmon/tommyds.git
[submodule "penny"]
	path = penny
	url = https://github.com/jmesmon/libpenny.git
[submodule "ccan"]
	path = ccan
	url = https://github.com/rustyrussell/ccan.git
